@using InterBook2._0.Views.Dashboard.App_LocalResources;
@using System.Web.Optimization
@model InterBook2._0.Models.DashboardModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@Styles.Render("~/Media/css/dashboard")
<link href="~/Media/css/Dashboard.css" rel="stylesheet" />

<section class="container">

    @Html.Partial("_MenuProfil")
    
    @*DISPONIBILITE*@


    <div class="panelDroite left">
        <h1>DISPONIBILITE</h1>
        <div id="datepicker"></div>
    </div>
    <div class="clear"></div>

    <script>
        var disponible = [];
        var reserver = [];

        $.ajax({
            type: 'Get',
            async: false,
            data: 'idu=' + @Model.u.IdU + '',
            url: '/Dashboard/RecupDispo',
            success: function (dataString) {
                data = JSON.parse(dataString);
                for (var i = 0; i < data.length; i++) {
                    if (data[i].id_Ref_Dispo == 1) {
                        disponible.push(data[i].dDispo.split("T")[0]);
                    }
                    else if (data[i].id_Ref_Dispo == 2) {
                        reserver.push(data[i].dDispo.split("T")[0]);
                    }
                }
            }
        });

        function setDays(date) {
            var ymd = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getDate();

            if ($.inArray(ymd, reserver) >= 0) {
                return [false, "reserver", "Déjà réservé"];
            }

            if ($.inArray(ymd, disponible) >= 0) {
                return [true, 'disponible', "Disponible"];
            }

            return [true, 'option', 'En option'];
        }

        function selectedDay(dateText, inst) {
            var d = dateText.slice(0, 2);
            var m = dateText.slice(3, 5);
            var y = dateText.slice(6);
            var ymd = y + "-" + m + "-" + d;

            $.ajax({
                type: "POST",
                async: false,
                url: "/Dashboard/ajoutDispo",
                data: { dDispo: dateText },
                datatype: 'json',
                success: function (result) {
                    if (result.Message == 1)
                        disponible.push(JSON.parse(result.Reponse).dDispo.split("T")[0]);
                    else if (result.Message == 3) {
                        if ($.inArray(ymd, disponible) >= 0)
                            disponible.splice($.inArray(ymd, disponible), 1);
                    }

                }
            });

            $("#datepicker").datepicker("refresh");
        }

        $("#datepicker").datepicker({
            firstDay: 1, //0=Dim, 1=Lun
            numberOfMonths: 2,
            stepMonths: 1,
            showButtonPanel: true,
            currentText: "Aujourd'hui",
            nextText: "Suivant",
            prevText: "Précédent",
            minDate: new Date(),
            beforeShowDay: setDays,
            onSelect: selectedDay
        });
    </script>
</section>
