@using InterBook2._0.Views.Dashboard.App_LocalResources;
@using System.Web.Optimization
@model InterBook2._0.Models.DashboardModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@Styles.Render("~/Media/css/dashboard")

<section class="container">
        DASHBOARD
</section>
