@using InterBook2._0.Views.SignIn.App_LocalResources;
@using System.Web.Optimization
@model InterBook2._0.Models.SignUpModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Media/css/User")

@*FORMULAIRE*@
<section class="container">
    Connexion
    <div class="form">


    </div>
</section>
