/*
 *
 * Information
 *
 */
#info
{
    margin : 30px auto 15px auto;
    background-color: #9bd7eb;
    border : #9ab9e9 solid 3px;
    padding : 20px 30px 20px 30px;
}
/*
 *
 * BLOC
 *
 */
.bloc
{
    background-color: #ffffff;
    padding: 50px 30px 50px 30px;
}
.titreBloc, .questionBloc
{
    display : table;
    width : 100%;
}
.numero
{
    border: 1px solid #e7e7e7;
    border-radius: 90px;
    background-color: #e7e7e7;
    color: #FFF;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right : 20px;
}
.numero > div
{
    position: absolute;
    top: 9px;
    left: 14px;
}
.titre
{
    width: 150px;
    padding-left: 20px;
}
.sousTitre
{
    color: #888888;
    font-size: 14px;
}
.titreBloc
{
    font-size : 16px;
    font-weight : bold;
    margin-bottom : 30px;
}
.titreBloc hr
{
    border: #e7e7e7 solid 1px;
}
.form input[type="text"], .form input[type="password"]
{
    
}
#btnEnregistrer
{
    color: #FFFFFF;
    border: none;
    background-color: #299fe3;
    padding: 9px 12px;
    text-decoration: none;
}
.inputQuery
{
    border : 1px solid #f0efef;
    background-color: #ffffff;
    height: 25px;
}
.questionBloc .table-cell
{
    height: 40px;
    padding-right: 10px;
}
/*
 *
 * BLOC 1
 *
 */
#bloc1
{
    margin-bottom: 10px;
}
.divInfos
{
    max-width: 790px;
}
.divchamps
{
    min-width: 270px;
    max-width: 395px;
    width: 100%;
    margin-bottom: 20px;
}
.divchamps .left
{
      margin-left: 40px;
}
#tableProfession input
{
    margin-bottom : 20px;
}
#tableProfession div:last-child input
{
    margin-bottom : 0px;
}
#plus
{
    text-decoration: underline;
    color: #888888;
    background: none;
    border: none;
    font-size: 12px;
}
.ui-autocomplete-loading
{
    background:url('../img/commun/loading.gif') no-repeat right 10px center;
    background-size: 20px 20px;
}
.blocGeo
{
    background: url(../img/signup/fr-FR/france.png) top 10px right 20px  no-repeat #d7ebec;
    padding: 25px;
    min-height: 130px;
}
.blocGeo .table-row
{
    min-height: 30px;
}
.blocGeo #selectChoisi
{
    margin: 15px 0px;
    max-width: 400px;
}
.blocGeo .choisi
{
    display: none;
    margin-bottom: 25px;
}
.blocGeo .croixDep
{
    cursor: pointer;
    font-size: 10px;
    border-radius:50%;
    color: #e41717;
    padding: 2px;
}
.blocGeo .croixDep:hover
{
    color: #ffffff;
    background-color: #e41717;
}
#ajouterDepartement
{
    width: 150px;
    height: 40px;
    background-color: #2e94da;
    border: none;
    color: #FFFFFF;
}
/*
 *
 * BLOC 2
 *
 */
#bloc2et3
{
    margin-bottom: 30px;
    overflow: auto;
}
#bloc2
{
    margin-right: 10px;
}
#bloc2, #bloc3
{
    width: 430px;
    float: left;
}
#bloc2 .table-row
{
    height: 50px;
}
#bloc2 textarea
{
    width: 300px;
    height: 200px;
    resize: none;
}
/*
 *
 * BLOC 3
 *
 */
div.ui-datepicker{
    width: 80%;
    margin: auto;
    border: none;
}
div.ui-widget-header{
    background: #FFFFFF;
    border: none;
}
div.ui-datepicker td a, div.ui-datepicker td span
{
    height: 30px;
    text-align:right;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
{
    background: #ffffff;
    border: none;
}
.table-row
{
    display: table-row;
}
.table-cell
{
    display: table-cell;
}
#moisCalendar
{
    text-align: center;
}
#moisCalendar span
{
    cursor : pointer;
}
#calendar .table-cell
{
    border-top:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
    padding: 10px;
    width : 15%;
}
select
{
    width: 300px;
    height: 30px;
}



@media screen and (max-width: 1225px) {
    
}

