/*
 *
 *BODY
 *
 */
body{
     background: #fff url("../img/commun/fr-FR/imgCentre.jpg") no-repeat center center fixed;
     background-size : cover;
}
.container
{/* Centrer formulaire */
    /*position: absolute;
    left: 50%;
    margin-left: -480px;
    top: 50%;
    margin-top: -110px;*/
}
/*
 *
 *HAUT
 *
 */
#titre
{
    color:#FFFFFF;
    text-align: center;
    width: 90%; margin: auto auto;
    padding: 5px 0 0 0;
    /*position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -450px;
    width:900px;*/
}
#titreTexte1
{
    font-size:3em;
    font-weight: bold;
    margin-bottom: 5px;
}
#titreTexte1 span
{
    color: #c32e2e;
}
#titreTexte2
{
    font-size:2em;
    margin-bottom: 20px;
}
/*
 *
 *FORMULAIRE
 *
 */
#rechercherTexte
{
    color:#FFFFFF;
    font-size:2em;
    margin-bottom: 10px;
}
#rechercherTexte img
{
    margin-right: 15px;
}



.form
{
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -435px;*/
    
    width: 90%;
    margin: auto auto;
    /*background: rgba(195,46,46,.8);*/
    border-radius: 4px;
    background: 
    -webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));

    background: 
    -moz-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));

    background: 
    -o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));

    background: 
    -ms-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));
    
}

.form > .inForm {

    width: 90%; height: auto;
    margin: auto auto; padding:4%;
}

.form .inForm form { margin: auto auto; width: 100%; }

.form .inForm .inputQuery, .form .inForm .inputDateQuery{

    font-size: 1em;
    height: 35px;
    width: 175px;
    margin-right : 5px;
    padding-left: 40px;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    border:none; 
    border-bottom: 2px #c32e2e solid;
}


.form .inForm .inputQuery:focus, .form .inForm .inputDateQuery:focus
{
    border-bottom: 1px #dbdbdb solid;
}
.form .inForm #Profession{
    background: white url(../img/home/outil.png) no-repeat left center;
}
.form .inForm #Profession.ui-autocomplete-loading
{
    background:url('../img/commun/loading.gif') no-repeat right 5px center, white url(../img/home/outil.png) no-repeat left center;
    background-size: 20px 20px, auto;
}
.form .inForm #divVille
{
    display: inline-block;
}
.form .inForm #Ville{
    /*background: white url(../img/home/mapMarker.png) no-repeat left center;*/
    background:url('../img/home/geoloc.png') no-repeat right 5px center, white url(../img/home/mapMarker.png) no-repeat left center;
    background-size: 20px 20px, auto;
}
.form .inForm #Ville.ui-autocomplete-loading
{
    background:url('../img/commun/loading.gif') no-repeat right 5px center, white url(../img/home/mapMarker.png) no-repeat left center;
    background-size: 20px 20px, auto;
}
.form .inForm .inputDateQuery{
    background: white url(../img/home/calendar.png) no-repeat left center;
    width: 80px;
}

.input-buttons
{
    display: none;
}
#btnGeo
{
    margin-left: -34px;
    margin-right: 5px;
    line-height: 35px;
    display: inline-block;
    cursor: pointer;
    width: 25px;
}
#btnGeo img
{
    height: 20px;
    vertical-align: middle;
}
.form .inForm .subMit
{
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}

.form .inForm input[type="submit"]
{
    border: none;
    width: 35px; height: 35px;
    float: left;
    margin: 0;
    background: #c32e2e url(../img/home/loupe.png) no-repeat center center;
    /*padding: 10px 20px 10px 20px;*/
}
#lienRechercheAvancee
{
    border: none;
    width: 35px; height: 35px;
    margin-left: 5px;
    float: left;
    margin-bottom: 5px;
    background: #888 url(../img/home/rechercheAvancee.png) no-repeat center center;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
}
    /*
     *
     *AUTOCOMPLETE
     *
     */
/*IE ?
li.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu li.ui-menu-item a.ui-corner-all:focus, .ui-menu li.ui-menu-item a.ui-corner-all:active {
    background:#ff8a00!important;
    color:#000;
    border-radius:0;
}*/
/*PROFESSION*/
.ui-widget-content li.ui-menu-item
{
    border:none;
    padding-left:40px;
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    background: white url(../img/home/flecheAutocompletion.png) no-repeat left center;

    font-size: 13px;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
}
body .ui-widget-content
{
    border: none;
}
body .ui-menu .ui-state-focus
{
    margin:0;
}
.ui-widget-content li.ui-state-focus
{
    border-bottom: none;
    cursor: pointer;
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    background: #dbdbdb url(../img/home/flecheAutocompletion.png) no-repeat left center;
}
/*VILLE*/
.pac-container:after {
    display : none;
}
.pac-item {
    
}
.pac-icon{
    background-image: url(../img/home/flecheAutocompletion.png);
    height: 25px;
    width: 25px;
    background-size: 25px auto;
    vertical-align: middle;
    margin: 0px;
}
.pac-icon-marker {
    background-position: inherit;
}
    /*
     *
     *DATEPICKER
     *
     */
div.ui-datepicker
{
    width: 225px;
}
div.ui-widget-header
{
    background: none;
}
div.ui-corner-all
{
    border: none;
}
.ui-datepicker .ui-datepicker-header a.ui-state-hover
{
    background: none;
    border: none;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar a.ui-state-hover, .ui-datepicker .ui-datepicker-calendar a.ui-state-default
{
    background: none;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active
{
    border: 1px solid #dbdbdb;
}

@media screen and (max-width: 980px) and (max-height: 510px) {
    
    #titreTexte1, #titreTexte2{
        display: none;
    }
}


@media screen and (max-width: 980px) {

    .form .inForm .inputQuery {
        width: 100%;
        margin-top: 5px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
        border: 0px;
    }

    #rechercherTexte{
        display: none;
    }

    .form .inForm .inputDateQuery
    {
        width: 100%;
        margin-top: 5px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        border: 0px;
    }

    .form .inForm #divVille
    {
        width: 100%;
    }
    .form .inForm .inputQuery:focus, .form .inForm .inputDateQuery:focus
    {
        border: none;
    }

    #rechercherTexte{

        margin-bottom: 5px;
    }

    .form .inForm .subMit {

        width: 100%; height: 35px;

    }

    #lienRechercheAvancee{

        width: 100%; height: 35px;
        margin: 0;
        
    }

    .form .inForm input[type="submit"] {

        width: 100%; height: 35px;
        margin: 1% 0 1% 0;
    }

    #titreTexte1{

    font-size:1.8em;
    font-weight: bold;
    
    }

    #titreTexte2{

    font-size:1.2em;
    
    }

    #btnGeo
    {
        display: none;
    }
    .form .inForm #Ville
    {
        background: white url(../img/home/mapMarker.png) no-repeat left center;
    }
}

