/*
 *
 *BODY
 *
 */
body{
     background: #e7e7e7;
}
/*
 *
 *FORMULAIRE
 *
 */
.form
{
    margin-top: 30px;
    background-color : #231d1c;
    padding: 35px;
}
.form .inputQuery{
    font-size: 1em;
    height: 35px;
    margin-right : 5px;
    padding-left:40px;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    border-bottom: 2px #c32e2e solid;
}
.form .inputQuery:focus
{
    border-bottom: 1px #dbdbdb solid;
}
.form #Profession{
    background: white url(../img/home/outil.png) no-repeat left center;
}
.form #Ville{
    background: white url(../img/home/mapMarker.png) no-repeat left center;

}
.form #DateDebut, .form #DateFin{
    background: white url(../img/home/calendar.png) no-repeat left center;
}

.form input[type="submit"]
{
    border: none;
    background: #c32e2e url(../img/home/loupe.png) no-repeat center center;
    padding: 5px 20px 13px 20px;
}
#lienRechercheAvancee
{
    border: none;
    background: #ffffff url(../img/home/rechercheAvancee.png) no-repeat center center;
    padding: 23px 20px 13px 20px;
    text-decoration: none;
}
    /*
     *
     *AUTOCOMPLETE
     *
     */

/*IE ?
li.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu li.ui-menu-item a.ui-corner-all:focus, .ui-menu li.ui-menu-item a.ui-corner-all:active {
    background:#ff8a00!important;
    color:#000;
    border-radius:0;
}*/
.ui-widget-content li.ui-menu-item
{
    width: 160px;
    border: none;
    padding-left:40px;
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    background: white url(../img/home/flecheAutocompletion.png) no-repeat left center;
}
.ui-widget-content li.ui-state-focus
{
    border: none;
    cursor: pointer;
    width: 175px;
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    background: #dbdbdb url(../img/home/flecheAutocompletion.png) no-repeat left center;
}
    /*
     *
     *DATEPICKER
     *
     */
div.ui-datepicker
{
    width: 225px;
}
div.ui-widget-header
{
    background: none;
}
div.ui-corner-all
{
    border: none;
}
.ui-datepicker .ui-datepicker-header a.ui-state-hover
{
    background: none;
    border: none;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar a.ui-state-hover, .ui-datepicker .ui-datepicker-calendar a.ui-state-default
{
    background: none;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active
{
    border: 1px solid #dbdbdb;
}
/*
 *
 *FILTRE
 *
 */
#filtreResultat
{
    background: #FFFFFF;
    min-height: 300px;
}
#filter
{
    border: none;
    -webkit-box-shadow: 0 0 10px 0 #c7c7c7;
    box-shadow: 0 0 10px 0 #c7c7c7;
    margin: 30px 0 15px 30px;
    padding: 15px 10px;
    width: 230px;
}
#filter h3 img
{
    margin-right: 15px;
}
/*
 *
 *RESULTAT
 *
 */
#results
{
    margin: 30px;
    width: 560px;
    margin: 30px 0 15px 15px;
}
#results h3
{
    padding: 20px;
    background-color: #e7e7e7;
}
#results > div
{
    border-top: 4px solid #000000;
    margin-top: 15px;
}
#results article
{
    padding: 20px 30px;
    border-bottom: #e7e7e7 solid 1px;
}
#results article:hover
{
    background-color: #f8f8f8;
}
#results article:last-child
{
    border: none;
}
/*********************/


@media screen and (max-width: 1225px) {
    .form 
    {
        width : 100%;
        top: 0%;
    }
    .form .inputQuery{
        width: 90%;
        margin-bottom : 1em;
        margin-right : 0px;
    }
    #filter
    {
        width : 100%;
    }
    #results
    {
        width : 100%;
    }
}

