/*
 *
 * BODY
 *
 */
body{
     background: #e7e7e7;
}
/*
 *
 * Information
 *
 */
#info
{
    margin : 30px auto 15px auto;
    background-color: #9bd7eb;
    border : #9ab9e9 solid 3px;
    padding : 20px 30px 20px 30px;
}
/*
 *
 * BLOC
 *
 */
.bloc
{
    background-color: #ffffff;
    padding: 50px 30px 50px 30px;
}
.titreBloc, .questionBloc
{
    display : table;
    width : 100%;
}
.titreBloc > div, .questionBloc > div
{
    display : table-cell;
    vertical-align: middle;
}
.numero
{
    border: 1px solid #e7e7e7;
    border-radius: 90px;
    background-color: #e7e7e7;
    color: #FFF;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right : 20px;
}
.numero > div
{
    position: absolute;
    top: 9px;
    left: 14px;
}
.titre
{
    width: 150px;
    padding-left: 20px;
}
.titreBloc
{
    font-size : 16px;
    font-weight : bold;
    margin-bottom : 30px;
}
.titreBloc hr
{
    border: #e7e7e7 solid 1px;
}
.form input[type="text"], .form input[type="password"]
{
    
}
#btnEnregistrer
{
    color: #FFFFFF;
    border: none;
    background-color: #299fe3;
    padding: 9px 12px;
    text-decoration: none;
}
.inputQuery
{
    border : 1px solid #f0efef;
    background-color: #ffffff;
    height: 25px;
}
.questionBloc .table-cell
{
    height: 40px;
    padding-right: 10px;
}
/*
 *
 * BLOC 1
 *
 */
#bloc1
{
    margin-bottom: 5px;
}
/*
 *
 * BLOC 2
 *
 */
#bloc2et3
{
    margin-bottom: 30px;
    overflow: auto;
}
#bloc2
{
    margin-right: 8px;
}
#bloc2, #bloc3
{
    width: 416px;
    float: left;
}
/*
 *
 * BLOC 3
 *
 */
.table-row
{
    display: table-row;
}
.table-cell
{
    display: table-cell;
}
#moisCalendar
{
    text-align: center;
}
#moisCalendar span
{
    cursor : pointer;
}
#calendar .table-cell
{
    border-top:1px solid #e7e7e7;
    border-left:1px solid #e7e7e7;
    padding: 10px;
    width : 15%;
}



@media screen and (max-width: 1225px) {
    
}

