/*
 *
 *FORMULAIRE
 *
 */
.form
{    
    width: 100%; height: 110px;
    margin:20px auto auto;
    background: rgba(35,29,28,1);
    
}

.form > .inForm {

    width: 90%; height: auto;
    margin: auto auto;
}

.form .inForm > #rechercherTexte
{
    color:#FFFFFF;
    padding-top: 10px;
    width: 100%;
}



    .form .inForm #rechercherTexte > .searchJob {

        text-transform: uppercase;
        font-size: 16px; padding-top: 15px;
    }


.form .inForm #rechercherTexte > a#pushSearch {
    font-size:2em;
    margin-top: -10px;
    display: none;
}


.form .inForm form
{
    margin: auto auto;
    width: 100%;
    padding-top: 10px;
    /*float: left;*/

}

.form .inForm .inputQuery, .form .inForm .inputDateQuery{

    font-size: 1em;
    height: 35px; width: 190px;
    margin-right : 5px;
    padding-left: 40px;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    border:none; 
    border-bottom: 2px #c32e2e solid;
}

.form .inForm .dateStart { width: 80px; }

.form .inForm .dateEnd { width: 80px; }

.form .inForm .inputQuery:focus
{
    border-bottom: 1px #dbdbdb solid;
}
.form .inForm #Profession{
    background: white url(../img/home/outil.png) no-repeat left center;
}
.form .inForm #Ville{
    background:url('../img/home/geoloc.png') no-repeat right 5px center, white url(../img/home/mapMarker.png) no-repeat left center;
    background-size: 20px 20px, auto;
    padding-right: 30px;
    width: 145px;
}
.form .inForm #Ville.ui-autocomplete-loading
{
    background:url('../img/commun/loading.gif') no-repeat right 5px center, white url(../img/home/mapMarker.png) no-repeat left center;
    background-size: 20px 20px, auto;
}
.form .inForm .inputDateQuery{
    background: white url(../img/home/calendar.png) no-repeat left center;
    width: 80px;
}
#btnGeo
{
    margin-left: -34px;
    margin-right: 5px;
    line-height: 35px;
    display: inline-block;
    cursor: pointer;
    width: 25px;
}
.form .inForm .subMit {

    width: 75px; height: 35px;
    float: right;
}

.form .inForm input[type="submit"]
{
    border: none;
    width: 35px; height: 35px;
    float: left;
    margin: 0;
    background: #c32e2e url(../img/home/loupe.png) no-repeat center center;
    /*padding: 10px 20px 10px 20px;*/
}
#lienRechercheAvancee
{
    border: none;
    width: 35px; height: 35px;
    margin-left: 5px;
    float: left;
    margin-bottom: 5px;
    background: #888 url(../img/home/rechercheAvancee.png) no-repeat center center;
    text-decoration: none;
}
    /*
     *
     *AUTOCOMPLETE
     *
     */

/*IE ?
li.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu li.ui-menu-item a.ui-corner-all:focus, .ui-menu li.ui-menu-item a.ui-corner-all:active {
    background:#ff8a00!important;
    color:#000;
    border-radius:0;
}*/
.ui-widget-content li.ui-menu-item
{
    width: 160px;
    border: none;
    padding-left:40px;
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    background: white url(../img/home/flecheAutocompletion.png) no-repeat left center;
}
.ui-widget-content li.ui-state-focus
{
    border: none;
    cursor: pointer;
    width: 175px;
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    background: #dbdbdb url(../img/home/flecheAutocompletion.png) no-repeat left center;
}
    /*
     *
     *DATEPICKER
     *
     */
div.ui-datepicker
{
    width: 225px;
}
div.ui-widget-header
{
    background: none;
}
div.ui-corner-all
{
    border: none;
}
.ui-datepicker .ui-datepicker-header a.ui-state-hover
{
    background: none;
    border: none;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar a.ui-state-hover, .ui-datepicker .ui-datepicker-calendar a.ui-state-default
{
    background: none;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active
{
    border: 1px solid #dbdbdb;
}










/*
 *
 *FILTRE
 *
 */
#filtreResultat
{
    width: 100%;
    background: #FFFFFF;
    min-height: 300px;

}

#filtreResultat > .inSearch{

    width: 90%; height: auto;
    padding: 2% 5% 2% 5%;
}

#filter
{
    border-left: 1px #eeeeee solid;
    border-right: 1px #eeeeee solid;
    width: 29%;
    float: left;
    margin: 5%;
}
#filter h3
{
    background-color : #eeeeee;
    text-align: center;
    padding: 15px;
}
#filter .nameFilter
{
    margin-top: 15px;
    padding-left: 10px;
    font-weight: bold;
}
#filter ul
{
    border-bottom: 1px #eeeeee solid;
    padding-bottom: 15px;
}

#filter li
{
    list-style-type: none;
    padding-left: 25px;
}




/*
 *
 *RESULTAT
 *
 */
#results
{

    width: 55%;
    float: left;
    margin-right: 5%;
}
#results h3
{
    padding: 20px;
    color: #231d1c;
}
#results h3 span
{
    color: #c32e2e;
}
#results > div
{
    border-top: 4px solid #000000;
}
#results article
{
    padding: 20px 30px;
    border-bottom: #e7e7e7 solid 1px;
    position: relative;
}
#results article:hover
{
    background-color: #faadad;
}
#results article:last-child
{
    border: none;
}
.lienUtil
{
    color: #231d1c;
    text-decoration: none;
    font-size: 16px;
}
.lienUtil article
{
    min-height: 110px;
}
.lienUtil .image img
{
    width: 85px;
    height: 85px;
}
.lienUtil .image
{
    width: 100px;
    padding: 12px 0px;
}
.lienUtil .detail
{
    padding: 12px 0px;
}
.distanceUtil
{
    color: #c32e2e;
    font-size: 12px;
}
.villeUtil
{
    color: #4f95e5;
    font-size: 14px;
}
.contacterUtil
{
    background-color: #4f95e5;
    width:120px;
    height:30px;
    border: none;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    right: 10%;
}
/*********************/







@media screen and (max-width: 990px) {
    

    .form .inForm #rechercherTexte >  div {

        display: block;

    }

    .form .inForm #rechercherTexte > a#pushSearch {
        border:none;
        display:block;
        width: 30px;
        height: 45px;
        background-color: #c32e2e;
        color: #FFF;
        text-align: center;
        float: right;
    }


    .form 
    {
        width : 90%;
        height:40px;
        overflow: hidden;
    }

    .form .inForm form {
        margin: auto auto;
        width: 100%;
        padding-top: 10px; }

    .form .inForm .inputQuery, .form .inForm #Ville {
        width: 100%;
        margin-top: 5px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
        border: 0px;
    }

    .form .inForm .subMit {
        width: 100%;
        height: 35px;
    }

    .form .inForm input[type="submit"] {
        width: 100%;
        height: 35px;
        margin: 1% 0 1% 0;
    }

    #lienRechercheAvancee{
        width: 100%;
        height: 35px;
        margin: 0;
    }

    /*FILTRE*/
    #filtreResultat{
        width: 90%;
    }

    #filter
    {
        width : 100%;
        display: none;
    }

    /*RESULTAT*/
    #results
    {
        width : 100%;
    }

    .contacterUtil {
        top: inherit;
        bottom: 10px;
    }
}

