/**16/12/2014**/
/*
 *
 *HTML & BODY
 *
 */
* {
    margin: 0;
    padding: 0;
    outline: none;
}
html, body{

    height: 100%;
    font-weight: normal;
    font-size: 14px;
    background-color: #e7e7e7;
    font-family: "Helvetica LT Std", sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #f9f9f9 inset;
}
#page{
    min-height: 100%;
	height: auto !important;
	height: 100%;
    margin: -60px auto -60px;
}
.left
{
    float:left;
}
.right
{
    float:right;
}
a {

    text-decoration: none;
}
.clear
{
    clear: both;
}
#wrap {

    height: 100%;
    position: relative;
}

.container {

    width: 990px;
    margin: auto auto;
}
button:focus
{
    /*enlève les bordures bleues au clic*/
    outline:0;
}




/* HEADER */
.header {

    width: 100%; height: 60px;
    margin: auto auto;
    padding: 0;
    position: relative;
    z-index : 10;
    background: #FFF;
    box-shadow: 0px 0px 2px 2px rgba(80,80,80,.3);
    -webkit-box-shadow:0px 0px 2px 2px rgba(80,80,80,.3);
    -o-box-shadow: 0px 0px 2px 2px rgba(80,80,80,.3);
    -moz-box-shadow: 0px 0px 2px 2px rgba(80,80,80,.3);
}




/* LEFT PANEL LOGO SOCIAL BOUTON */
.header .container > #leftPanel {

    width: auto; height: 100%;
    float: left;
}

.header .container #leftPanel > #logo {

    width: auto;
    float:left;  
    display: block; text-align: center;
    
}


.header .container #leftPanel #logo > a {

    display: block; width: 60px; height: 46px;
    background: #c32e2e; text-decoration: none;
    text-align: center; padding: 14px 10px 0px 10px;
}

.header .container #leftPanel #logo a > img {

    width: 100%; display: block; border: none;
    text-align: center;

}


.header .container #leftPanel > #rsHeader {

    width: auto; height: 100%;
    float:left; display: block;
    line-height: 60px; padding-left: 5px;
}

.gHeader {
}





/* RIGHT PANEL CONNEXION */
.header .container > #rightPanel {

    height: 100%;
    float:right;
}
.nameHeader #nameHeader
{
    line-height: 60px;
}
.howWork a, .nameHeader #nameHeader, .nameHeader a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(180,180,180,1);
}

.howWork a:hover, .howWork a:focus {

    text-decoration: underline;
}
.header .container #rightPanel div {
    width: auto; height: auto;
    float:left;
    display: block;
    margin-left: 20px;
    position: relative;
}
.header .container #rightPanel .drapeauHeader
{
    margin-left: 0px;
}
.drapeauHeader .dropdown-menu img
{
    cursor: pointer;
    padding: 4px;
}
.drapeauHeader p img
{
    margin-right: 4px;
}
.drapeauHeader img:hover, .drapeauHeader img:focus, .nameHeader a:hover, .nameHeader a:focus{
    background: #f7f6f6;
}
.header .container #rightPanel .howWork > a, .header .container #rightPanel .nameHeader > p, .header .container #rightPanel .drapeauHeader > p {
    line-height: 60px;
}
.nameHeader .dropdown-menu, .drapeauHeader .dropdown-menu
{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
    display: none;
    float: left;
    padding: 5px 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.nameHeader .dropdown-menu
{
    min-width: 100px;
}
.nameHeader .dropdown-menu li a
{
    display: block;
    padding: 5px 20px;
    min-width: 100px;
}
.header .container #rightPanel div > #tabletteHeader {

    padding-top: 10px;
    display: block;
    margin-left: 30px;
    line-height: 60px;
}

.header .container #rightPanel div > #seConnecter {
    
    padding: 10px;
    background-color:#299fe3;
    box-shadow: 2px 2px 0px #1e6ca2;
    text-transform: uppercase;
    color:#FFFFFF; font-weight: normal;
    text-decoration: none;
    line-height: 60px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.header .container #rightPanel div > #seConnecter:active {
    box-shadow: 1px 1px 0px #1e6ca2;
    top:1px;
    left:1px;
}





















/* PANEL POPUP CONNEXION AFFICHAGE */
header #connexionPart{
    background-color:#FFFFFF;
    display: none;
    width: 100%; height: auto;
    position: absolute;
    z-index : 9;
    top: -300px;
}
#fade {
    display: none;
    background: #000000;
    position: fixed; left: 0; bottom: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 2;
}
#fadeLogin {
    display: none;
    background: #000000;
    position: fixed; left: 0; bottom: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 11;
}
#imgLogin{
    display: block;
    z-index: 12;
    position: absolute;
    left: 50%;
    bottom: 50%;
}
a.close {
    float: right;
    width: 50px; height: 50px;

    /*margin: 130px 0 0 0;*/
    color: #fff;
    background: #c32e2e;
    position: relative;
    top: 50px; right: 50%;
    font-size:2em; text-decoration: none;
    /*padding: 10px;*/
}
a.close #fermePop{
    padding: 20px 0px 0px 15px;
    line-height: 50px;
    position: relative;
}
#connexion
{
    display: table;
    overflow: hidden;
    height: 200px;
    margin: auto;
    padding-top: 40px;
}
        /*
         *
         *CONNEXION LEFT
         *
         */
#social
{
    display: table-cell;
    vertical-align: middle;
    padding-right: 30px;
}
#social button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    width: 235px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebookConnexion
{
    border-color: #2d5073;
    background-color: #3b5998;
    background-image:url(../img/commun/fr-FR/facebook-icon.png);
}
button#googleConnexion
{
    border-color: #c84333;
    background-color: #dd4937;
    background-image:url(../img/commun/fr-FR/Google-Plus-icon.png);
}
button#linkedInConnexion
{
    border-color: #00517e;
    background-color: #00649B;
    background-image:url(../img/commun/fr-FR/LinkedIn-icon.jpg);
}
#social div
{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom:10px;
}
        /*
         *
         *CONNEXION CENTRE
         *
         */
#separateurConnexion
{
    background:url(../img/commun/fr-FR/separateurConnexion.png) no-repeat center center;
    color:#FFFFFF;
    text-transform : uppercase;
    display: table-cell;
    vertical-align: middle;
    width: 63px;
    text-align: center;
}
        /*
         *
         *CONNEXION RIGHT
         *
         */
#formConnexion
{
    padding-left: 30px;
}
#formConnexion > div
{
    margin-bottom : 15px;
}
#formConnexion .inputCo
{
    font-size: 1em;
    height: 35px;
    width: 200px;
    border:none;
    border-bottom: 2px #cbcbcb solid;
}

.iconEmailConnecter, .iconPasswordConnecter
{
    background: #f9f9f9 url(../img/commun/fr-FR/bonhommeConnexion.png) no-repeat left center;
    float:left;
    width:35px;
    height:35px;
    border-bottom: 2px #cbcbcb solid;
}
.membreCo, .fonctionCo
{
    padding: 8px 5px;
    display: inline-block;
    cursor: pointer;
}
.membreCo > input, .fonctionCo > input
{
    margin-right: 5px;
}
.membreCo *, .fonctionCo *
{
    cursor: pointer;
}
.iconEmailConnecter
{
    background: #f9f9f9 url(../img/commun/fr-FR/bonhommeConnexion.png) no-repeat left center;
}
.iconPasswordConnecter
{
    background: #f9f9f9 url(../img/commun/fr-FR/cadenasConnexion.png) no-repeat left center;
}
#formConnexion form>div
{
    margin-bottom : 15px;
}
#divBoutonCon
{
    text-align: right;
}
#mdpOublie
{
    color: #299fe3;
    margin-right: 10px;
}
#btnConnecter
{
    color: #FFFFFF;
    border: none;
    background-color: #299fe3;
    padding: 9px 12px;
    text-decoration: none;
}



















/* FOOTER */

footer {

    height: 60px; width: 100%;
    background: rgba(255,255,255,1);
}

.footer {

    width: auto; height: 60px;
    padding: 0; margin: auto auto;

}

.footer > #interbookFooter {

    width: 190px; height: 100%;
    float: left; line-height: 60px;
    color: rgba(80,80,80,1); text-align: center;
}

.footer > #mentionsFooter {

    width: 700px; height: 100%;
    float: left; line-height: 60px;
    text-align: center;

}

.footer #mentionsFooter > a {

    text-align: center; margin-left: 10px;
    color: rgba(180,180,180,1);
    font-weight: normal;
}

.footer > #logoFooter {

    background: rgba(33,33,33,1);
    width: auto; height: auto;
    float: right; padding: 18px;
    border: none; 
}

/*DATEPICKER*/
td.reserver > a.ui-state-default, td.reserver > span.ui-state-default
{
    background: #c32e2e;
}
td.option > a.ui-state-default, td.option > span.ui-state-default
{
    background: #ffcc00;
}
td.disponible > a.ui-state-default, td.disponible > span.ui-state-default
{
    background: #87ce18;
}



@media screen and (max-width: 990px) {

    .container{
        width: 100%;
    }

    .header .container #rightPanel > .howWork
    {

        display: none;
    }

    .header .container #rightPanel div > #tabletteHeader
    {

        display: none;
    }

    #social, #formConnexion, #separateurConnexion
    {
        display: table-row;
    }

    #separateurConnexion
    {
        color: #000000;
        background: none;
        font-weight: bold;
    }

    .footer > #interbookFooter
    {
        margin-left: 10px;
    }

    .footer > #mentionsFooter
    {
        display:none;
    }


    body
    {
        overflow-x: hidden;
    }

    body.with--sidebar
    {
        overflow: hidden;
        height: 100%;
    }
    #wrap
    {
        transition-duration: 0.3s;
    }
    .header__icon
    {
        position: relative;
        display: block;
        float: right;
        width: 50px;
        height: 60px;
        cursor: pointer;
    }
    .header__icon:after
    {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        top: 16px;
        right: 15px;
        box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
    }
    .nameHeader .dropdown-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        width: 250px;
        transform: translateX(250px); 
    }
    .nameHeader #nameHeader
    {
        position: absolute;
        transform: translateX(50px);
        z-index: 10;
        width: 250px;
        text-align: center;
        border-bottom: 10px solid #f7f6f6;
    }
    .nameHeader .dropdown-menu
    {
        display: block;
    }
    .nameHeader a:focus
    {
        background: none;
    }
    .nameHeader .dropdown-menu
    {
        border: none;
        height: 500px;
        top: 0;
        padding: 70px 0 0 0;
    }
    /* Un lien par ligne */
    .nameHeader .dropdown-menu a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #f7f6f6; 
    }

    .with--sidebar #wrap {
        transform: translateX(-250px); 
    }
    /* On met un cache par dessus le site-content pour bloquer le scroll et permettre le retour au site */
}
.with--connectbar .site-cache, .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }






