@using InterBook2._0.Views.How.App_LocalResources;
@using System.Web.Optimization
@model InterBook2._0.Models.HowModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Media/css/How")

@*FORMULAIRE*@
<section class="container">
    @Html.Raw(Index.texte)
</section>
